
<div class="container row row-cols-1 row-cols-md-2 row-cols-lg-3 p-5">
    <div class="col my-4" *ngFor="let item of menuItems; index as itemId">
        <div class="card m-auto rounded-0 p-3" style="width: 18rem;">
            <img src="{{item.image}}" class="card-img-top border rounded-0">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <h3 class="card-title text-light">{{item.price}} €</h3>
              <ng-template [ngIf]="item.availability" [ngIfElse]="none">
                  <p routerLink="/menuItems/{{itemId}}" class="btn m-1 rounded-0">Click for Details</p>
                  <br>
                  <p class="btn m-1 rounded-0" (click)="addToOrder(item)">Order</p>
              </ng-template>
              <ng-template #none>
                <p class="p-2 m-1">currently not available.</p>
              </ng-template>
            </div>
        </div>
    </div>
</div>