#detail {
    border: 2px solid white;
    background-color: rgb(0,0,0,0.6) ;
    
    position: relative;
    top: 14vh;
    left: 28vw;
    width: 40vw;
    
    padding: 2vh;
}

#detail img {
    width: 50vh;
    height: auto;
    margin: 2vh;
    border: 1px solid white;
}

#detail h3 {
    color: white;
    margin: 2vh;
}

#detail h4 {
    color: white;
    margin: 2vh;
}

#detail p {
    color: white;
    margin: 2vh;
}

#detail button {
    color: white;
    background-color: transparent;

    margin: 2vh;
    border: 2px solid white;

    height: 6vh;
    width: 6vw;
}