
#welcome {
    border: 2px solid white;
    background-color: rgb(0,0,0,0.6) ;
    
    width: 50vw;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#welcome p {
    color: white;
    font-size: 5em;
}

#welcome a {
    text-decoration: none;
    color: white;

    font-size: 3em;
}

