.container {
    border: 2px solid white;
    background-color: rgb(0,0,0,0.6);

    position: relative;
    top: 18vh;
}

.formDiv {
    display: flex;
    justify-content: start;

    padding: 1vh;
}

h3 {
    color: white;
}   


p{
    color: white;
}

hr {
    color: white;
}

label {
    color: white;
}

input {
    border: white;
}

button {
    color: white;
    background-color: transparent;

    margin: 2vh;
    border: 2px solid white;
}