<div class="container container-sm  p-3">
    <h3>Your Order:</h3>
    
    <div class="order-items" *ngFor="let item of orderItems">
        <p>{{item.name}}</p>
        <p>{{item.price}}€</p>
        <hr>
    </div>
    
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="formDiv">
            <label for="name"class="pe-1">Name</label>
            <input id="name" type="text" formControlName="name">
        </div>
        <div class="formDiv">
            <label for="adress" class="pe-1">Adress</label>
            <input id="adress" type="text" formControlName="adress">
        </div>
        <button class="button" type="submit">Purchase</button>
    </form>
</div>