<nav id="navbar" class="navbar navbar-expand-lg w-100 position-fixed z-1">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Il Gambero Rosso</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="aboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="order">Your Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- The navbar is a simple bootstrap navbar. the links link to the menu, the about us page and the order. The Restaurant name is a link to the home component.
     check css file for styles -->