<div id="aboutus" class="container container-sm p-4">
    <h1>Il Gambero Rosso</h1>
    <h3>The home of tradition</h3>
    <p>In 1918, after returning from the war, poor Francesco Valentini inherited his uncle's worn down restaurant. As he had been an passionate cook he decided to renovate it. Il Gambero Rosso was born.</p>
    <p>For 4 generations it has been one of the best restaurants in all of Padova. We take the best ingredients from our region to create simple, yet fantastic dishes.</p>
    <p>Although we had to make some changes along the way, you can still feel father Francesco's spirit when you visit. And you can still see it in our pizza oven, he built with his own hands, all this time ago.</p>
    <p>So if you are hungry and crave some traditional italian comfort, come by or order on our website.</p>
    <h3>We are happy to feed you!</h3>
</div>